/* ======================= CONFIGURAÇÕES INICIAIS =======================*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

body{
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
  }

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h2,h3{
    color: #EE2B76;
}


h2{
    font-size: 32px;
    font-weight: 800;
}

/* ======================= CABEÇALHO =======================*/


header{
    display: flex;
    width: 100%;
    height: 100px;
    padding: 0 15rem;
    background-color: #EE2B76;
    align-items: center;
}

#logo{
    padding: .5rem;
}

/* ======================= MAIN =======================*/


main{
    /* padding: 0 10rem; */
    width: 100%;
}

/* ======================= Seção SMASAC =======================*/

#smasac{

    padding: 2.5rem 15rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF3EE;
}

#text{
    width: 40%;
    /* font-size: 18px; */
    font-weight: 400;
}

#smasac img{
    width: 50%;
}


/* ======================= Seção Impacto =======================*/

#impacto{
    padding: 2.5rem 15rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#impacto img{
    width: 50%;
}

/* ======================= Seção Indicadores =======================*/

#indicadores{
    padding: 2.5rem 15rem;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-between; */
    background-color: #FFF3EE;
}


/* ======================= Seção PowerBI =======================*/

#powerbi{
    padding: 2.5rem 15rem;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

#powerbi iframe{
    width: 100%;
    height: 800px;
    border-radius: 10px;
    
}

/* ======================= RODAPÉ =======================*/

footer{
    display: flex;
    background-color: #FDB913;
    padding: 0.8rem;
    align-items: center;
    justify-content: center;
}

footer img{
    height: 6rem;
}


/* ======================= MOBILE =======================*/

@media (max-width: 960px) {
    header, section{
        padding: 0 2rem;
    }

    h2{
        font-size: 28px;
        font-weight: 800;
    }

    #smasac{
        flex-direction: column;
        padding: 2rem 2rem;
    }

    #smasac img{
        width: 100%;
    }

    #text{
        width: 100%;
    }

    #impacto{
        flex-direction: column-reverse;
        padding: 2rem 2rem;
    }

    #impacto img{
        width: 100%;
        margin-bottom: 2rem;
    }

    #indicadores{
        flex-direction: column;
        padding: 2rem 2rem;
    }

    #powerbi{
        flex-direction: column;
        padding: 2rem 2rem;
    }

    #powerbi iframe{
        width: 100%;
        height: 300px;
    }
}